<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--bootstrap-->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <title>inicial</title>
</head>
<body>
    <h1>pagina inicial</h1>
    <p>Qual opção deseja</p>

    
  <div class="row align-items-start">
    <div class="col">
      <label for="">*Eventos geral</label>
    </div>
    <div class="col">
      <label for="">*Consultas</label>
    </div>
    <div class="col">
      <label for="">*Arbritagem</label>
    </div>
  </div>
</div>